<app-header></app-header>
<div style="margin-top: 80px; margin-left: 15px; margin-right: 15px;">
   <h1>blog 1</h1>
   <h4 >
      The Taj Mahal is a magnificent mausoleum located in Agra, India. Commissioned by the Mughal Emperor Shah Jahan in memory of his beloved wife, Mumtaz Mahal, the Taj Mahal is widely considered one of the most beautiful buildings in the world. The structure took over twenty years to build, with construction starting in 1632 and finishing in 1653. The main building is made of white marble and is adorned with intricate carvings and inlaid precious stones. The mausoleum is surrounded by lush gardens, reflecting pools, and smaller buildings, all of which contribute to the overall beauty and serenity of the complex. The Taj Mahal is not only a symbol of love but also a testament to the Mughal Empire's architectural prowess and is recognized as a UNESCO World Heritage Site. It is a popular tourist attraction, drawing millions of visitors from around the world every year.
   </h4>
</div>
