
<app-header></app-header>
<div style="margin-top: 80px; margin-left: 15px; margin-right: 15px;">
   <h1>blog 1</h1>
   <h4 >
      Rabindranath Tagore was a renowned Bengali poet, philosopher, musician, and polymath who is considered one of the greatest literary figures in Indian history. He was the first Asian to win the Nobel Prize for Literature in 1913 for his collection of poems, Gitanjali. Tagore was a prolific writer who produced works in a variety of genres, including poetry, songs, plays, and essays, and he was also an accomplished painter. He was an advocate of Indian nationalism and contributed significantly to the Indian independence movement through his writings and political activism. His works continue to be celebrated for their lyrical beauty, philosophical depth, and social commentary. Tagore's legacy has had a lasting impact on Indian literature and culture, and his birthday, May 9th, is celebrated as Rabindra Jayanti in India.
   </h4>
</div>


