<app-header></app-header>
<div style="margin-top: 80px; margin-left: 15px; margin-right: 15px;">
   <h1>blog 12</h1>
   <h4 >
      Instagram is a popular social media platform that allows users to share photos and videos with their followers. Launched in 2010, Instagram has since grown to become one of the most widely used social networks worldwide, with over 1 billion active users as of 2021. Users can upload photos and videos, add filters and captions, and tag other users and locations in their posts. In addition, Instagram offers a range of features such as Stories, Reels, and IGTV, which allow users to share short-form video content. Instagram has become an important tool for individuals and businesses to promote their brand, connect with others, and share their creativity with a global audience.
   </h4>
</div>
