<app-header></app-header>
<div style="margin-top: 80px; margin-left: 15px; margin-right: 15px;">
   <h1>blog 5</h1>
   <h2 >
      Sri Krishna, also known as Lord Krishna, is a central figure in Hinduism and is considered to be one of the most popular and widely revered deities in the Hindu pantheon. According to Hindu mythology, Sri Krishna was born in Mathura to Devaki and Vasudeva and grew up in Gokul, where he spent his childhood years performing miraculous acts and displaying his divine powers. He is known for his role as a teacher, philosopher, and guide to his devotees, as well as for his legendary exploits, including his victory over the demon king Kansa, his role as a warrior in the Kurukshetra war, and his interactions with his beloved consort Radha and his childhood friend Arjuna. Sri Krishna is also known for his teachings in the Bhagavad Gita, which is considered to be one of the most important Hindu scriptures and provides guidance on the nature of the self, the purpose of life, and the path to spiritual enlightenment.
   </h2>
</div>
