<app-header></app-header>
<div style="margin-top: 80px; margin-left: 15px; margin-right: 15px">
  <h1>blog 11</h1>
  <h2>
    Earth is the third planet from the sun. It is the only known planet with
    life. It has a diameter of 12,742 km. It has a mass of 5.97 × 10^24 kg.
    Earth's atmosphere contains 21% oxygen. The Earth's atmosphere also contains
    other gases like nitrogen, carbon dioxide, and argon. The Earth's atmosphere
    protects us from harmful radiation from the sun. Earth's rotation causes day
    and night. Earth orbits the sun once every 365.25 days. The Earth's axis is
    tilted at an angle of 23.5 degrees. The Earth's rotation axis causes the
    seasons. Earth has one natural satellite, the moon. The moon is about
    one-quarter the size of Earth. The moon's gravity causes tides on Earth.
    Earth is about 4.54 billion years old. The Earth's surface is about 71%
    water and 29% land. The highest point on Earth is Mount Everest, which is
    8,848 meters tall. The lowest point on Earth is the Mariana Trench, which is
    11,034 meters deep. Earth's crust is made up of tectonic plates. Earthquakes
    occur when these tectonic plates shift. Volcanoes are also a result of
    tectonic activity. The Earth's core is made up of iron and nickel. The core
    is responsible for the Earth's magnetic field. The Earth's magnetic field
    protects us from harmful solar wind. The Earth's magnetic field also causes
    the Northern and Southern Lights. The Earth's magnetic field is weakening
    over time. The ozone layer in Earth's atmosphere protects us from harmful UV
    radiation. The ozone layer is thinning due to human activity. Earth's
    climate is changing due to human activity. Global warming is causing the
    polar ice caps to melt. Climate change is causing more severe weather events
    like hurricanes and wildfires. The Earth's biodiversity is declining due to
    human activity. Many species are going extinct due to habitat loss and
    pollution. WhatsApp is a popular messaging app that allows users to send and
    receive text messages, voice messages, photos, videos, documents, and other
    types of files. It was founded in 2009 and later acquired by Facebook in
    2014. WhatsApp is available on both Android and iOS devices and has become a
    widely used communication tool around the world. The app uses end-to-end
    encryption to protect users' privacy and security, and it also offers
    features like group chats, voice and video calls, and status updates. With
    its user-friendly interface and free messaging capabilities, WhatsApp has
    become an essential tool for personal and professional communication.
  </h2>
</div>
