<app-header></app-header>
<div style="margin-top: 80px; margin-left: 15px; margin-right: 15px;">
   <h1>blog 13</h1>
   <h4 >
      A camera is a device that captures visual images by using a combination of optics, electronics, and light-sensitive materials such as film or digital sensors. Cameras come in a variety of shapes and sizes, ranging from small handheld devices like smartphones and point-and-shoot cameras to larger, more sophisticated equipment used by professional photographers and videographers. The development of digital technology has revolutionized the field of photography, making it easier and more accessible than ever before to capture high-quality images and video. In addition to traditional photography, cameras are used in a variety of other applications, such as security and surveillance, scientific research, and space exploration.
   </h4>
</div>
