<app-header></app-header>
<div style="margin-top: 80px; margin-left: 15px; margin-right: 15px;">
   <h1>blog 3</h1>
   <h4 >
      YouTube is a video-sharing platform that allows users to upload, view, and share videos. It was created in 2005 and has since become one of the most popular websites on the internet, with billions of users worldwide. YouTube is known for its diverse range of content, including music videos, educational videos, comedy sketches, gaming content, and much more. It has also become a popular platform for influencers and content creators to share their work and engage with their audiences. YouTube offers a variety of features, including monetization options for creators, live streaming, and community engagement tools.
   </h4>
</div>
