
<app-header></app-header>
<div style="margin-top: 80px; margin-left: 15px; margin-right: 15px;">
   <h1>blog 1</h1>
   <h4 >
      Facebook is a social media platform that was founded by Mark Zuckerberg in 2004. It is one of the largest social networking sites in the world, with over 2.9 billion monthly active users as of 2021. Facebook allows users to create a personal profile, connect with friends and family, share photos and videos, join groups and events, and participate in various online communities. In addition to its social networking features, Facebook has also become a significant player in the digital advertising industry, with businesses and marketers using the platform to reach targeted audiences with their products and services. Over the years, Facebook has faced various controversies regarding its handling of user data and privacy, but it remains a popular and influential platform for social connections and online communication.
   </h4>
</div>
